{% load static %} {% static "" as baseUrl %} 

<style>
  @font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: 'LeferiPoint-WhiteA';
  }
</style>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
  <!-- Navbar Brand-->
  <a class="navbar-brand ml-3" href="{% url 'board:index' %}">TO-DY</a>
  <!-- Navbar-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <ul class="navbar-nav ml-auto">
      <!-- 오른쪽부터 정렬-->
      {% if user.is_authenticated %}
      <li class="nav-item">
        
        {% if profile_user.profile.avatar %}
        <a class="nav-link" href="{% url 'users:profile' user.pk %}"><i class="far fa-user"></i> {{ user.username }} <br /></a>
        {% else %}
        <a class="nav-link" href="{% url 'users:profile' user.pk %}"><i class="far fa-user"></i> {{ user.username }} <br /></a>
        {% endif %}

      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}"> <i class="fas fa-sign-out-alt"></i>&nbsp;LOGOUT</a>
        {% else %}
        <a class="nav-link" href="{% url 'users:login' %}"><i class="fas fa-check"></i>&nbsp;LOGIN</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:signup' %}"><i class="fas fa-wine-glass-alt"></i>&nbsp;SIGNUP</a>
      </li>
      {% endif %}
    </ul>
  </form>
</nav>


<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-primary" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">MY SITE</div>
          <a class="nav-link" href="{% url 'board:index' %}">
            <div class="nav-link-icon"></div>
            CAMERA
          </a>
          <a class="nav-link" href="#">
            <div class="nav-link-icon"></div>
            CLOSET
          </a>
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'users:profile' user.pk %}">
            <div class="nav-link-icon"><i class="fas fa-columns"></i></div>
            Profile
          </a>
          {% else %}
          <a class="nav-link" href="{% url 'users:login' %}">
            <div class="nav-link-icon"></div>
            LOGIN / LOGOUT
          </a>
          {% endif %}
          
        </div>
      </div>
    </nav>
  </div>
</div>
  
