{% extends 'base.html' %}
<!-- -->
{% block title %}CAMERA {% endblock %} {% block content %}
<!--오버라이딩 -->
<video id="myVideo" width="100%" height="100%" style="border: 1px solid #ddd;"></video>
<div class="col-xl">
<input type=button value="비디오 켜기" onclick="{getVideo()}" class="col-xl btn primary">
<input type=button value="사진찍기" onclick="{takeSnapshot()}" class="col-xl btn primary">
</div>
<script>

    var myVideoStream = document.getElementById('myVideo')     // make it a global variable
    var myStoredInterval = 0
    
    function getVideo(){
    navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    navigator.getMedia({video: true, audio: false},
                        
    function(stream) {
        myVideoStream.srcObject = stream   
        myVideoStream.play();
    },                  
    function(error) {
        alert('webcam not working');
    }
    );
}
    function takeSnapshot() {
    var myCanvasElement = document.getElementById('myCanvas');
    var myCTX = myCanvasElement.getContext('2d');
    myCTX.drawImage(myVideoStream, 0, 0, myCanvasElement.width, myCanvasElement.height);
    }
    
    function takeAuto() {
        takeSnapshot() // get snapshot right away then wait and repeat
        clearInterval(myStoredInterval)
        myStoredInterval = setInterval(function(){                                                                                         
        takeSnapshot()
    }, document.getElementById('myInterval').value);        
    }
</script>
{% endblock %}
