{% block content %}
{% include "base.html" %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    #label-1 { display:inline-block; width:60px; }
</style>

<div class="container mt-3 ">
    <h5 class="my-3 border-bottom pb-2">의류등록</h5>
    <form action="{% url 'closet:create' %}" method="POST" enctype="multipart/form-data">
        <label id="label-1">스타일 :</label>
        <select name="classInfo">
            <option value="">트래디셔널</option>
            <option value="">매니시</option>
            <option value="">에스닉</option>
            <option value="">컨템포러리</option>
            <option value="">내추럴</option>
            <option value="">젠더플루이드</option>
            <option value="">스포티</option>
            <option value="">서브컬쳐</option>
            <option value="">캐주얼</option>
        </select></br>

        <label id="label-1">계절감 :</label>
        <select name="classInfo">
            <option value="">봄</option>
            <option value="">여름</option>
            <option value="">가을</option>
            <option value="">겨울</option>
        </select></br>

        <label id="label-1">카테고리 :</label>
        <select name="classInfo">
            <option value="">상의</option>
            <option value="">하의</option>
            <option value="">아우터</option>
        </select></br>

        <label id="label-1">핏 :</label>
        <select name="classInfo">
            <option value="">스키니</option>
            <option value="">슬림</option>
            <option value="">레귤러</option>
            <option value="">루즈</option>
            <option value="">오버사이즈</option>
        </select>
        <br><br>
        <!-- <input type="radio" name="category1"> -->
        <input type="text" name="closet_title" placeholder="의류이름"><br><br>
        <input type="file" name="closet_uploadedFile" class="warning"><br><br>
        {% csrf_token %}
        <input type="submit" value="저장" class="btn btn-warning" onclick="alert('저장완료')">
        <div><br>
		<!-- checkbox: 복수 선택 -->
	</div>
    </form>
</div>
{% endblock %}