{% block content %}
{% include "base.html" %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    #label-1 { display:inline-block; width:60px; }
</style>
<div class="container mt-5 ">
    <h5 class="my-3 border-bottom pb-2">아우터 등록</h5>
    <form action="{% url 'closet:outer_create' %}" method="POST" enctype="multipart/form-data">
        <select name="category1" id="id_month">
            <option value="0" selected>월 선택</option>
            <option value="01">type1</option>
            <option value="02">type2</option>
            <option value="03">type3</option>
            <option value="04">type4</option>
        </select>
        <input type="text" name="closet_outer_title" placeholder="의류이름"><br><br>
        <input type="file" name="closet_outer_uploadedFile" class="warning"><br><br>
        {% csrf_token %}
        <input type="submit" value="저장" class="btn btn-warning" onclick="alert('저장완료')">
        <div><br>
		<!-- checkbox: 복수 선택 -->
	</div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $("select[name=category1]" ).val( "{{ category_text }}" );
        $('select[name=category1]').change(function () {
        console.log($('select[name=category1]').val());
        category = $('select[name=category1]').val();
        $('.form').submit();
    });
});
</script>
{% endblock %}