{% extends 'base.html' %}{% load static %}{% block content %}{% include "base.html" %}   
<style>
    .img_box img{
        float: left;
        margin-left: 50px;
    }
    .choice_closet{
        float: left;
        width: 20%;
    }
</style>
<div class="container mt-5 col-sm-3 " >
    <p style="text-align: center;">{{ closet.closet_title }}</p>
    <img src="{{ closet.closet_url }}" width="300" height="300" class="mx-auto d-block">
    <div class="choice_form mx-auto d-block">
    <form action="/action_page.php">
        <div class="choice_closet">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">style1</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">style2</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">style3</label><br><br>
        </div>
        <div class="choice_closet">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">style1</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">style2</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">style3</label><br><br>
        </div>
        <div class="choice_closet">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">style1</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">style2</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">style3</label><br><br>
        </div>
        <div class="choice_closet">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">style1</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">style2</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">style3</label><br><br>
        </div>
    </form> 
    </div>
</div>
<div class="container col-12 mx-auto" >
    <div class="sm-col-6 mx-auto text-gray" style="float:left; text-align: center; border-right: 0.5px solid rgba(0, 0, 0, 0.3);">
        <h1>옷장추천</h1>
        <p style="text-align: center;">{{ closet.closet_title }}</p>
        <div class="img_box">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
        </div>
        </div>

    <div class="sm-col-6 mx-auto text-gray" style="float:left; text-align: center;">
        <h1>무신사추천</h1>
        <p style="text-align: center;">{{ closet.closet_title }}</p>
        <div class="img_box">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
            <img src="media/images/{{ closet.closet_uploadedFile }}" width="200" height="200" class="mx-auto d-block img rounded-circle">
        </div>
    </div>
</div>
</div>

{% endblock %} 


